body,
html {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* Paleta de colores BitByte */
:root {
    --lightblue: #A0D2EB;
    --grey: #E5EAF5;
    --lightpurple: #D0BDF4;
    --purple: #8458B3;
    --darkgrey: #494D5F;
}

.nav {
    display: flex;
    height: 6vh;
    padding: 1.5% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: var(--darkgrey);
    margin: 0px 10px;
    transition: all 150ms ease-in-out;
}

.nav_logo,
.nav_menu {
    display: flex;
    align-items: center;
}

.nav_logo img {
    max-width: 100px;
    margin-right: 20px;
}

.nav_menu a:hover {
    transform: scale(1.05);
}

.nav_hamburger {
    display: none;
}

.nav_hamburger span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: var(--darkgrey);
}

.nav_hamburger span:not(last-child) {
    margin-bottom: 4px;
}

#mision {
    display: flex;
    padding: 3rem 13rem;
    background-color: var(--darkgrey);
    align-items: center;
    justify-content: space-between;
}

.mision_img {
    max-width: 50%;
}

.mision_img img {
    max-width: 100%;
    border-radius: 10px;
}

.mision_info {
    max-width: 40%;
    color: white;
    text-align: left;
}

#vision {
    display: flex;
    padding: 3rem 13rem;
    background-color: var(--grey);
    align-items: center;
    justify-content: space-between;
}

.vision_img {
    max-width: 50%;
}

.vision_img img {
    max-width: 100%;
    border-radius: 10px;
}

.vision_info {
    max-width: 40%;
    color: var(--darkgrey);
    text-align: left;
}

#valores {
    display: grid;
    text-align: center;
    gap: 20px;
    padding: 50px 155px;
    color: white;
    background-color: var(--darkgrey);
    grid-template-columns: repeat(2, 1fr);
}

.valor {
    padding: 15px 45px;
}

.valor_icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    z-index: 1;
}

.valor_icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightpurple);
    border-radius: 50%;
    z-index: -1;
}

.valor_icon img {
    display: block;
    width: 70px;
    object-fit: contain;
}

#equipo {
    display: grid;
    text-align: center;
    gap: 25px;
    color: black;
    background-color: white;
    padding: 30px 40px 50px 40px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border-radius: 10px;
    padding: 30px 10px;
    color: black;
    background-color: var(--grey)
}

.card_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.section_title {
    margin: 0;
    grid-column: 1 / -1;
    text-align: center;
    font-size: 35px;
}

#footer_index {
    background-color: var(--darkgrey);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding: 1.5rem 10rem;
}

.footer_logo img {
    max-width: 100px;
}

.footer_first {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

.footer_first p {
    color: white;
}

.footer_first:nth-child(2) {
    text-align: end;
}

.footer_last {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 13px;
}

@media only screen and (max-width: 1024px) {

    #mision,
    #vision {
        flex-direction: column;
        padding: 4rem 8rem;
    }

    .mision_img,
    .mision_info,
    .vision_img,
    .vision_info {
        max-width: 100%;
        text-align: center;
        font-size: larger;
    }

    .vision_img {
        order: 1;
    }

    .vision_info {
        order: 2;
    }

    #valores {
        padding: 50px 105px;
    }
}

@media only screen and (max-width: 820px) {
    #valores {
        grid-template-columns: 1fr;
        padding: 70px 105px;
        font-size: larger;
    }

    vision_infocard #equipo {
        grid-template-columns: repeat(2, 1fr);
        font-size: larger;
    }

    .footer {
        padding: 30px 40px 10px 40px;
    }
}

@media only screen and (max-width: 540px) {
    .nav {
        padding: 1.5rem 1rem;
    }

    .nav_menu {
        display: none;
    }

    .nav_hamburger {
        display: block;
    }

    #mision,
    #vision {
        flex-direction: column;
        padding: 2rem 3rem;
    }

    .mision_img,
    .mision_info,
    .vision_img,
    .vision_info {
        max-width: 100%;
    }

    #valores {
        max-width: 100%;
        gap: 5px;
        grid-template-columns: 1fr;
        padding: 50px;
    }

    #equipo {
        grid-template-columns: 1fr;
    }

    .footer {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .footer_first:nth-child(2) {
        text-align: center;
    }
}

/* CSS Alonso */
#caracteristicas {
    display: flex;
    padding: 3rem 13rem;
    background-color: var(--grey);

    align-items: center;
    justify-content: space-between;
}

.caracteristicas_img {
    max-width: 100px;

    padding-right: 10px;
}

.caracteristicas_img img {
    max-width: 100%;
    border-radius: 10px;
}

.caract_1 {

    width: 100%;
    color: black;
    text-align: left;
    background-color: var(--darkgrey);
    padding: 10px;
    border-radius: 10px;
}

/* Estilos BuscoEmpleo */
.nav_buscoempleo {
    background-color: var(--grey);
}

.nav_buscoempleo a {
    font-weight: 500;
}

.nav_buscoempleo a:hover {
    color: #131314;
}

#contenido {
    margin: 2% 14%;
    padding: 3% 5%;
    color: white;
    border-radius: 10px;
    background-color: var(--darkgrey);
}

.encabezado-contenido {
    display: flex;
    align-items: center;
    padding: 1.5%;
    background-color: #585c70;
    border-radius: 10px;
}

.boton-contenido {
    border: 0;
    width: 200px;
    padding: 8px 0;
    color: white;
    font-size: 0.9rem;
    border-radius: 10px;
    background-color: var(--purple);
}

#footer_buscoempleo {
    background-color: black;
}

#footer_logo-buscoempleo img {
    max-width: 150px;
}

/* Vista Candidato */
#img-perfil {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.vistaCandidato_img {
    width: 150px;
    height: 150px;
    margin-left: 1%;
}

.vistaCandidato_info {
    margin-left: 5%;
    font-weight: 400;
}

.fechas {
    display: flex;
    align-items: center;
    font-weight: 100;
}

.nav_barra-busqueda {
    width: 40%;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
}

.barra-busqueda input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 5px 24px 25px;
    font-size: 14px;
    color: var(--darkgrey);
}

::placeholder {
    color: var(--darkgrey);
}

.barra-busqueda button img {
    width: 25px;
}

.barra-busqueda button {
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

/* Inicio sesion */
.contenido_login {
    display: flex;
    justify-content: space-between;
    margin: 2rem 1%;
}

.division {
    display: block;
    width: 1px;
    background-color: var(--grey);
}

.inicioSesion {
    display: flex;
    flex-direction: column;
}

.inicioSesion p {
    margin: 0;
    margin-bottom: 10px;
}

.inicioSesion input {
    border: 0;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.inicioSesion button {
    border: 0;
    padding: 10px;
    color: white;
    margin: 20px 0;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--purple);
}

.inicioSesion button:hover {
    opacity: 80%;
    cursor: pointer;
}

.inicioSesion a {
    color: var(--lightblue);
    font-weight: 300;
    font-size: 14px;
}

.registrarse button {
    width: 100%;
    padding: 10px;
    color: var(--darkgrey);
    margin: 20px 0;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--grey);
    border: 1px solid var(--purple);
}

.registrarse button:hover {
    opacity: 80%;
    cursor: pointer;
}


/* fabian  */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

th,
td {
    padding: 48px;
    border: 1px solid black;
    text-align: left;
    background-color: rgb(250, 250, 250);
    color: rgb(245, 239, 239);
}

th {
   
    text-align: center;
    height:75px;
    width: 5%;
   background-color:   #8458b3;
}

#tipodeanuncio11{
    background-color: rgb(157, 153, 153);
        width: 20%;      
        margin:20px;  
        display: inline-block;
        padding: 10px;
   
   
}


#estadoAnuncio11{
    background-color: rgb(157, 153, 153);
        width: 20%;      
        margin:20px;  
        display: inline-block;
        padding: 10px;
   
   
}


#monstrar11{  
        background-color: rgb(157, 153, 153);
        width: 20%;      
        margin:20px;  
        display: inline-block;
        padding: 10px;
}


#cajabusqueda11{  
    background-color: rgb(157, 153, 153);
    width: 20%;      
    margin:20px;  
    display: inline-block;
    padding: 10px;
}


#encabezadoContenido1{
      
    width: 100%;
    display: inline-block; 
    text-align: center;
    margin:20px; 
    
  

}
#tipodeanuncio{
    background-color: rgb(157, 153, 153);
    width: 20%;  
     margin:20px; 
     display: inline-block; 
     padding: 10px;
 }


 #estadoAnuncio
 {
    background-color: rgb(157, 153, 153);
    width: 20%;        
    margin:20px;  
    display: inline-block;
    padding: 10px;
 }

 #monstrar {  
    background-color: rgb(157, 153, 153);
    width: 20%;     
    margin:20px;  
    display: inline-block;
    padding: 10px;

 }


 #cajabusqueda{  
    background-color: rgb(157, 153, 153);
    width: 20%;      
    margin:20px;  
    display: inline-block;
    padding: 10px;
 }

 #listadoPostulaciones{  
    background-color: rgb(157, 153, 153);
    width: 20%;      
    margin:20px;  
    display: inline-block;
    padding: 10px;
 }

 
            

  #ordenarPor{  
    background-color: rgb(157, 153, 153);
    width: 20%;      
    margin:20px;  
    display: inline-block;
    padding: 10px;
 }

               
            
   #buscar
   {  
    background-color: rgb(157, 153, 153);
    width: 20%;      
    margin:20px;  
    display: inline-block;
    padding: 10px;
 }

 #contenidocentral12{  
   width: 100%;
    display: inline-block; 
    text-align: center;
    margin:20px; 
