<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="shortcut icon" href="../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Busco Empleo</title>
  </head>
  <body>
    <nav class="nav_buscoempleo nav">
      <a href="../views/producto.html" class="nav_logo">
        <img src="../images/buscoempleo.png" alt="" />
      </a>
      <div class="nav_barra-busqueda">
        <form action="" method="get" class="barra-busqueda">
          <input type="text" placeholder="Buscar..." name="barra-busqueda" />
          <button type="submit"><img src="../images/busqueda.png" /></button>
        </form>
      </div>
      <a href="../views/inicioSesion.html">Iniciar sesión</a>
    </nav>
    <section id="contenido">
      <div class="encabezado-contenido">
        <img
          id="img-perfil"
          class="vistaCandidato_img"
          src="../images/jafet.jpg"
        />
        <div class="vistaCandidato_info">
          <h1 id="nombre-candidato">Nombre y apellidos del candidato</h1>
          <p id="profesion-candidato">Nombre de la profesion</p>
          <button class="boton-contenido">Invitar</button>
        </div>
      </div>
      <div class="descripcion-contenido">
        <h2>Experiencia laboral</h2>
        <h3 id="titulo-experiencia">Titulo de la experiencia</h3>
        <p id="contenido-experiencia">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ultricies at urna id pellentesque. Integer hendrerit vestibulum turpis
          ut eleifend. Nam vel gravida ipsum. Nulla ultrices turpis iaculis,
          fermentum lacus vitae, maximus elit. Curabitur quis nulla nisi. In
          ultrices leo laoreet, viverra nulla eget, porttitor mi. Suspendisse
          potenti. Mauris finibus scelerisque arcu ut rutrum.
        </p>
        <div class="fechas">
          <p id="fecha-inicio">Fecha inicio</p>
          <p>-</p>
          <p id="fecha-final">Fecha finalizacion</p>
        </div>
        <h2>Estudios</h2>
        <h3 id="titulo-estudios">Titulo del estudio</h3>
        <p id="contenido-estudios">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
          ultricies at urna id pellentesque. Integer hendrerit vestibulum turpis
          ut eleifend. Nam vel gravida ipsum. Nulla ultrices turpis iaculis,
          fermentum lacus vitae, maximus elit. Curabitur quis nulla nisi. In
          ultrices leo laoreet, viverra nulla eget, porttitor mi. Suspendisse
          potenti. Mauris finibus scelerisque arcu ut rutrum.
        </p>
        <div class="fechas">
          <p id="fecha-inicio">Fecha inicio</p>
          <p>-</p>
          <p id="fecha-final">Fecha finalizacion</p>
        </div>
      </div>
    </section>
    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a href="" id="footer_logo-buscoempleo" class="footer_logo">
          <img src="../images/buscoempleonegro.png" />
        </a>
        <a href="../views/producto.html">
          <p>Acerca de Busco Empleo</p>
        </a>
      </div>
      <div class="footer_first">
        <a href="" class="footer_logo">
          <img src="../images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../js/funciones.js"></script>
  </body>
</html>
