<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="shortcut icon" href="../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Busco Empleo</title>
  </head>
  <body>
    <nav id="nav_homePage" class="nav_buscoempleo nav">
      <a href="../views/producto.html" class="nav_logo">
        <img src="../images/buscoempleo.png" alt="" />
      </a>
      <a id="opcionNav" href="../views/inicioSesion.html">Iniciar sesión</a>
    </nav>
    <header class="sub-header">
      <div class="options">
        <ul>
          <li><a href="../views/CrearOferas.html">Crear oferta</a></li>
          <li>
            <a href="../views/showOffers.html">Mostrar ofertas creadas</a>
          </li>
          <li>
            <a href="../views/invitarCandidatos.html">Invitar candidatos</a>
          </li>
          <li>
            <a href="../views/invitacionesCreadas.html"
              >Mostrar invitaciones creadas</a
            >
          </li>
          <li><a href="#">Revisar mis puestos</a></li>
        </ul>
      </div>
    </header>
    <div
      class="header-bg headerLogged"
      style="background-image: url('../images/banner.png')"
    >
      <div class="contenidoHomePage">
        <h1>Encuentra tu empleo ideal</h1>
        <form
          id="barraBusquedaForm"
          action="../views/MostrarCandidatos.html"
          method="get"
          class="barra-busqueda"
          onsubmit="return validarBusquedaHomePage()"
        >
          <input type="text" placeholder="Buscar..." name="barra-busqueda" />
          <button type="submit"><img src="../images/busqueda.png" /></button>
        </form>
      </div>
    </div>
    <div id="equipo" class="grid-contenido">
      <h2 class="section_title">Puestos que te podrían interesar</h2>
    </div>
    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a href="" id="footer_logo-buscoempleo" class="footer_logo">
          <img src="../images/buscoempleonegro.png" />
        </a>
        <a href="../views/producto.html">
          <p>Acerca de Busco Empleo</p>
        </a>
      </div>
      <div class="footer_first">
        <a href="../views/index.html" class="footer_logo">
          <img src="../images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../js/funciones.js"></script>
    <script>
      cargarDatosUsuario();
      cargarDatosPuestos();
    </script>
  </body>
</html>
