<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>BitByte Solutions</title>
  </head>
  <body>
    <nav class="nav">
      <a href="../views/index.html" class="nav_logo">
        <img src="../images/logo.jpg" alt="Bitbyte Solutions" />
        <h1>BitByte solutions</h1>
      </a>
      <div class="nav_menu">
        <a href="#mision" class="href">Misión</a>
        <a href="#vision" class="href">Visión</a>
        <a href="#valores" class="href">Valores</a>
        <a href="#equipo" class="href">Equipo</a>
        <a href="../views/producto.html" class="href">Producto</a>
      </div>
      <a id="btn-hamburger" href="#" class="nav_hamburger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </nav>
    <section id="mision" class="container">
      <div class="mision_img">
        <img src="../images/mision.jpg" alt="Misión" />
      </div>
      <div class="mision_info">
        <h2>Misión</h2>
        <p>
          Nuestra misión es proporcionar soluciones de software innovadoras y de
          alta calidad, que impulsen la transformación digital de nuestros
          clientes. Nos comprometemos a colaborar estrechamente con ellos,
          desarrollando soluciones personalizadas para optimizar sus procesos y
          lograr un crecimiento sostenible en un entorno digital en constante
          evolución.
        </p>
      </div>
    </section>
    <section id="vision">
      <div class="vision_info">
        <h2>Visión</h2>
        <p>
          Nuestra visión es convertirnos en líderes del mercado de soluciones de
          software, impulsando el avance tecnológico y siendo reconocidos por
          nuestra innovación y excelencia en el servicio al cliente. Aspiramos a
          ser referentes globales, entregando productos y servicios de calidad,
          superando expectativas y abordando desafíos complejos con soluciones
          creativas y efectivas.
        </p>
      </div>
      <div class="vision_img">
        <img src="../images/vision.jpg" alt="Misión" />
      </div>
    </section>
    <section id="valores">
      <h2 class="section_title">Valores</h2>
      <div class="valor">
        <div class="valor_icon">
          <img src="../images/innovacion.png" />
        </div>
        <h3>Innovación</h3>
        <p>
          Nos esforzamos por estar a la vanguardia de la tecnología y
          desarrollar soluciones de software innovadoras que aborden los
          desafíos y necesidades cambiantes de nuestros clientes.
        </p>
      </div>
      <div class="valor">
        <div class="valor_icon">
          <img src="../images/calidad.png" />
        </div>
        <h3>Calidad</h3>
        <p>
          Nos comprometemos a ofrecer soluciones de software de alta calidad que
          cumplan con los estándares más exigentes, brindando resultados
          confiables y efectivos a nuestros clientes.
        </p>
      </div>
      <div class="valor">
        <div class="valor_icon">
          <img src="../images/orientacion-cliente.png" />
        </div>
        <h3>Orientación al cliente</h3>
        <p>
          Nos centramos en comprender las necesidades de nuestros clientes y
          proporcionar soluciones personalizadas que impulsen su transformación
          digital y generen un valor tangible para sus negocios.
        </p>
      </div>
      <div class="valor">
        <div class="valor_icon">
          <img src="../images/liderazgo.png" />
        </div>
        <h3>Liderazgo</h3>
        <p>
          Buscamos ser líderes en el mercado de soluciones de software, marcando
          la pauta en términos de innovación, tendencias tecnológicas y
          prácticas comerciales, inspirando a otros y siendo reconocidos como
          referentes en la industria.
        </p>
      </div>
    </section>
    <section id="equipo">
      <h2 class="section_title">Miembros del equipo</h2>
      <div class="card">
        <div class="card_img">
          <img src="../images/jafet.jpg" />
        </div>
        <p>Jafet Hernández Alfaro</p>
        <p>jhernandeza@ucenfotec.ac.cr</p>
        <p>+506 8957-7034</p>
        <p>San Antonio de Coronado</p>
        <p>Coordinador de Desarrollo</p>
      </div>
      <div class="card">
        <div class="card_img">
          <img src="../images/Alonso.jpg" />
        </div>
        <p>Alonso Agüero Gairaud</p>
        <p>aguero@ucenfotec.ac.cr</p>
        <p>+506 7113-3702</p>
        <p>San Isidro de Heredia</p>
        <p>Coordinador de Soporte</p>
      </div>
      <div class="card">
        <div class="card_img">
          <img src="../images/jose.jpg" />
        </div>
        <p>Jose Andres Solis Jiménez</p>
        <p>jsolisj@ucenfotec.ac.cr</p>
        <p>+506 7131-8422</p>
        <p>San Rafael de Coronado</p>
        <p>Coordinador de Soporte</p>
      </div>
      <div class="card">
        <div class="card_img">
          <img src="../images/fabian.jpg" />
        </div>
        <p>Fabián Mora Quirós</p>
        <p>fmoraq@ucenfotec.ac.cr</p>
        <p>+506 6338-8084</p>
        <p>San Miguel, Desamparados</p>
        <p>Coordinador de Calidad</p>
      </div>
      <div class="card">
        <div class="card_img">
          <img src="../images/vanessa.jpg" />
        </div>
        <p>Vanessa Villegas Torres</p>
        <p>vvillegast@ucenfotec.ac.cr</p>
        <p>+506 8406-1947</p>
        <p>Santa Ana</p>
        <p>Coordinadora de Calidad</p>
      </div>
      <div class="card">
        <div class="card_img">
          <img src="../images/usuario.png" />
        </div>
        <p>Bryan Beita Mohs</p>
        <p>bbeitam@ucenfotec.ac.c</p>
        <p>+506 6091-3420</p>
        <p>Hacienda Vieja, Curridabat</p>
        <p>Coordinador General</p>
      </div>
    </section>
    <footer id="footer_index" class="footer">
      <div class="footer_first">
        <a href="../views/index.html" class="footer_logo">
          <img src="../images/logo_nombre.jpg" alt="BitByte Solutions" />
        </a>
      </div>
      <p class="footer_first">+506 2222-2222 | bitbyte@gmail.com</p>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../js/funciones.js"></script>
  </body>
</html>
