<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="shortcut icon" href="../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <title>Busco Empleo</title>
</head>

<body>
    <nav class="nav_buscoempleo nav">
        <a href="../views/producto.html" class="nav_logo">
            <img src="../images/buscoempleo.png" alt="" />
        </a>
        <div class="nav_barra-busqueda">
            <form action="" method="get" class="barra-busqueda">
                <input type="text" placeholder="Buscar..." name="barra-busqueda" />
                <button type="submit"><img src="../images/busqueda.png" /></button>
            </form>
        </div>
        <a href="#">Perfil</a>
    </nav>



    <section id="contenido">


        <div id="encabezadoContenido1">

            <div id="tipodeanuncio">
               Tipo de anuncio             
               
        
            </div>

            <div id="estadoAnuncio">
                Estado del anuncio
            
                      
            </div>
            
            <div id="monstrar">
                Monstrar
            
                      
            </div>

            <div id="cajabusqueda">
                Buscar           
                      
            </div>                
        
            

        
        </div>




        <div id="contenidocentral">




           










            <table>
                <thead>
                    <tr>
                        <th>Canditado</th>
                        <th>Fecha</th>
                        <th>Puesto</th>
                        <th>Estado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>







                    <!-- Agregar más filas según sea necesario -->
                </tbody>
            </table>


        </div> <!--#contenidocentral-->
        </div> <!--#principal-->







    </section>

    <footer id="footer_buscoempleo" class="footer">
        <div class="footer_first">
            <a href="" id="footer_logo-buscoempleo" class="footer_logo">
                <img src="../images/buscoempleonegro.png" />
            </a>
            <a href="../views/producto.html">
                <p>Acerca de Busco Empleo</p>
            </a>
        </div>
        <div class="footer_first">
            <a href="" class="footer_logo">
                <img src="../images/logo_nombre.jpg" />
            </a>
            <p>+506 2222-2222 | bitbyte@gmail.com</p>
        </div>
        <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../js/funciones.js"></script>
</body>

</html>