<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Busco empleo</title>
  </head>
  <body>
    <nav class="nav nav_buscoempleo">
      <a href="/views/index.html" class="nav_logo">
        <img src="../images/buscoempleo.png" alt="Bitbyte Solutions" />
      </a>
      <div class="nav_menu">
        <a href="../views/HomePageUnlogged.html">
          <button id="botonVisitar" type="submit">
            Visitar
            <img src="../images/link.png" />
          </button>
        </a>
        <a href="#mision" class="href">Inicio</a>
        <a href="#vision" class="href">Ventajas</a>
        <a href="#valores" class="href">Características</a>
        <a href="index.html" class="href">Nuestra empresa</a>
      </div>
      <a id="btn-hamburger" href="#" class="nav_hamburger">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </nav>
    <section id="mision" class="container">
      <div class="mision_img">

        <img src="../images/trabajos.png" alt="Empleos " />

      </div>
      <div class="mision_info">
        <!-- <h2>Titulo 1  porque usarlo</h2> -->
        <p>
          Nuestra página web de bolsa de empleo ofrece una experiencia única y
          altamente beneficiosa para los usuarios en busca de empleo. Al elegir
          nuestra plataforma, los usuarios se beneficiarán de una amplia gama de
          oportunidades laborales actualizadas en tiempo real, provenientes de
          diversas industrias y empresas. Además, nuestra plataforma ofrece un
          sistema de búsqueda avanzado y filtros personalizables que permiten a
          los usuarios encontrar empleos que se ajusten perfectamente a sus
          habilidades, experiencia y preferencias.
        </p>
      </div>
    </section>
    
    <section id="vision">
      <div class="vision_info">
        <!--<h2>Titulo 2 porque usarlo</h2>-->
        <p>
          Además de proporcionar una amplia selección de empleos, nuestra página
          web de bolsa de empleo se destaca por su enfoque en la calidad y la
          confianza. Todos los anuncios y empresas son verificados y evaluados
          rigurosamente para garantizar la autenticidad y la fiabilidad de las
          oportunidades laborales. Asimismo, nuestra plataforma ofrece recursos
          y herramientas adicionales para ayudar a los usuarios en su búsqueda
          de empleo.Al utilizar nuestra página web de bolsa de empleo, los
          usuarios tendrán acceso a una plataforma confiable, fácil de usar y
          altamente efectiva para encontrar su próximo empleo de manera exitosa.
        </p>
      </div>
      <div class="vision_img">
        <img src="../images/verificado.png" alt="Verificados" />
      </div>
    </section>

    <section id="equipo">
      <h2 class="section_title">Ventajas</h2>
    </section>
    
    <section id="ventajas_contenedor">
      <div class="ventajas">
        <div class="ventajas_img">
          <img src="../images/viewport_wide_icon_151010.png" alt="Icono" />
        </div>

          <h2 class="titulo_vetajas">Amplia selección de oportunidades laborales</h2>
          <p class="descripcion_ventajas">
              Nuestra página web de bolsa de empleo ofrece a los usuarios una amplia
              selección de oportunidades laborales de diversas industrias y
              empresas. Esto significa que los usuarios tendrán acceso a una
              variedad de opciones para elegir, lo que aumenta sus posibilidades de
              encontrar un trabajo que se ajuste a sus habilidades, experiencia y
              objetivos profesionales.
          </p>
      </div>
      
      
      <div class="ventajas">
        <div class="ventajas_img">
          <img src="../images/filter.png" alt="Icono" />
        </div>
        <h2 class="titulo_vetajas">
          Filtrado y recomendaciones personalizadas
        </h2>
        <p class="descripcion_ventajas">
          Filtrado y recomendaciones personalizadas: Nuestra plataforma cuenta
          con un sistema de filtrado avanzado que permite a los usuarios ajustar
          sus preferencias y criterios de búsqueda. Esto les permite refinar los
          resultados y recibir notificaciones personalizadas sobre los trabajos
          que se ajustan a sus perfiles.
        </p>
      </div>
      <div class="ventajas">
        <div class="ventajas_img">
          <img src="../images/easy-to-use.png" alt="Icono" />
        </div>
        <h2 class="titulo_vetajas">
          Fácil y rápido acceso a oportunidades laborales
        </h2>
        <p class="descripcion_ventajas">
          Nuestra plataforma proporciona a los usuarios un acceso fácil y rápido
          a las ofertas de empleo. Pueden navegar por los anuncios de trabajo,
          filtrar los resultados según sus criterios y postularse directamente a
          través de la plataforma, lo que agiliza el proceso de solicitud y
          ahorra tiempo en comparación con los métodos tradicionales.
        </p>
      </div>
    </section>

    <section id="equipo">
      <h2 class="section_title">Características</h2>
    </section>

    <section id="caracteristicas">
      

      <div class="caract_1">
        <img src="../images/check.png" alt="check" />
        <!-- <h2>Titulo 1  porque usarlo</h2> -->
        <p>Nuestra herramienta de búsqueda de empleo pormite a los usuarios y empreas mediante una interfaz sencilla de utilizar,
          crear fácilmente su perfil e iniciar rápidamente ya sea la colocación de puestos de trabajo o bien la búsqueda de la misma.  </p>
      </div>
      <div class="caract_1">
        <img src="../images/check.png" alt="check" />
        <!-- <h2>Titulo 1  porque usarlo</h2> -->
        <p>Mediante alertas por correo electrónico Busco Empleo permite a los usaurios estar al tanto de las ofertas que las empresas 
          le envían y también permite que las empresas se enteren de inmediato sobre los postulantes a todas las ofertas subidas.
        </p>
      </div>
      <div class="caract_1">
        <img src="../images/check.png" alt="check" />
        <!-- <h2>Titulo 1  porque usarlo</h2> -->
        <p>Busco Empleo permite a los usuarios mantener su perfil actualizado permitiendo de forma gratuita poder actualizar sus datos 
          actualizar su Currículum de una forma sencilla e intuitiva.
        </p>
      </div>
      <div class="caract_1">
        <img src="../images/check.png" alt="check" />
        <!-- <h2>Titulo 1  porque usarlo</h2> -->
        <p>Las empresas que agreguen ofertas de empleos en nuestra herramienta pueden crear, eliminiar y editar diferentes perfoles de usurio
          y asignarles diferentes permisos según sus necesidades, además de poder actualizar los dato de la empres en cualquier momento.
        </p>
      </div>
    </section>

    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a
          href="../views/MostrarCandidatos.html"
          id="footer_logo-buscoempleo"
          class="footer_logo"
        >
          <img src="../images/buscoempleonegro.png" />
        </a>
      </div>
      <div class="footer_first">
        <a href="../views/index.html" class="footer_logo">
          <img src="../images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../js/funciones.js"></script>
  </body>
</html>
