<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/showOffers.css">
    <script src="https://kit.fontawesome.com/3ca6801fad.js" crossorigin="anonymous"></script>
    <title>Bitbyte</title>
</head>
<body>
    <div class="contenedor">
        <div class="barra">
            <div class="caja1"></div>
            <div class="caja2">
                <img class="image" src="./../images/usuario.png" alt="user">
                <span class="name">BitByte</span>
                <div class="space"></div>
                <input class="busqueda" type="text" placeholder="Busqueda">
            
            </div>
            <div class="caja3"></div>
        </div>
        <div class="oferta">
            <div class="oferta2">
                <h2 class="titulo">Oferta de trabajo</h2>
                <span class="subtitulo">Descripcion</span>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatem cum sed quos ipsa? Provident incidunt corrupti
                     voluptatibus, libero quas deleniti laboriosam et eius, amet, omnis autem ullam atque voluptas!</p>   
                     
            </div>
            <div class="oferta2">
                <h2 class="titulo">Oferta de trabajo</h2>
                <span class="subtitulo">Descripcion</span>
                <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore voluptatem cum sed quos ipsa? Provident incidunt corrupti
                     voluptatibus, libero quas deleniti laboriosam et eius, amet, omnis autem ullam atque voluptas!</p>   
                     
            </div>
        </div>
        <div class="footer">
         <img class="image2" src="./../images/logo.jpg" alt="logo">
         <div class="space"></div>
         <span class="textfooter">© 2023 Desarrollado por BitByte Solutions</span>
         <div class="space"></div>
         <span class="textfooter2">+506 2222-2222 | bitbyte@gmail.com</span>

        


        </div>
        
    </div>


</body>
</html>