<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="shortcut icon" href="../../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Busco Empleo</title>
  </head>
  <body>
    <nav class="nav_buscoempleo nav">
      <a
        id="nav_logo-buscoempleo"
        href="../unlogged/HomePageUnlogged.html"
        class="nav_logo"
      >
        <img src="../../images/buscoempleo.png" alt="" />
      </a>
      <div class="nav_barra-busqueda">
        <form
          id="barraBusquedaForm"
          action=""
          method="get"
          class="barra-busqueda"
          onsubmit="return validarBusquedaHomePage()"
        >
          <input
            type="text"
            placeholder="Buscar candidato..."
            name="barra-busqueda"
          />
          <button type="submit"><img src="../../images/busqueda.png" /></button>
        </form>
      </div>
      <div id="divOpcionesNav">
        <a id="opcionNav" href="../unlogged/inicioSesion.html"
          >Iniciar sesión</a
        >
        <img
          id="img-perfil"
          class="imgFotoPerfil"
          src="../../images/fotoPerfilDefault.jpeg"
          onclick="irModificarCuenta()"
        />
        <button onclick="cerrarSesion()">
          <img src="../../images/logout.png" alt="Cerrar sesion" />
        </button>
      </div>
    </nav>
    <header id="sub-menu" class="sub-header">
      <div class="options">
        <ul>
          <li><a href="../empresa/CrearOfertas.html">Crear oferta</a></li>
          <li>
            <a href="../empresa/showOffers.html">Mostrar ofertas creadas</a>
          </li>
          <li>
            <a href="../empresa/invitarCandidatos.html">Invitar candidatos</a>
          </li>
          <li>
            <a href="../empresa/invitacionesCreadas.html"
              >Mostrar invitaciones creadas</a
            >
          </li>
          <li>
            <a href="../empresa/revisarAplicacionesPuestos.html"
              >Revisar mis puestos</a
            >
          </li>
        </ul>
      </div>
    </header>

    <section id="contenido">
      <div id="encabezadoContenido2" class="button-container">
        <div class="desplegable">
          <button class="boton modern-button">Tipo de anuncio</button>
          <div class="dropdown-content">
            <a href="#">Anuncio 1</a>
            <a href="#">Anuncio 2</a>
            <a href="#">Anuncio 3</a>
          </div>
        </div>

        <div class="desplegable">
          <button class="boton modern-button">Estado del anuncio</button>
          <div class="dropdown-content">
            <a href="#">Contratado</a>
            <a href="#">Pendiente</a>
          </div>
        </div>

        <button class="btn primary">Buscar</button>

      <div id="contenidocentral">
        <table class="modern-table">
          <thead>
            <tr>
              <th>Candidato</th>
              <th>Fecha</th>
              <th>Puesto</th>
              <th>Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Juan Perez</td>
              <td>3-11-2023</td>
              <td>Ingeniero de Software</td>
              <td>Contratado</td>
            </tr>
            <tr>
              <td>Andrea Ramirez</td>
              <td>6-11-2023</td>
              <td>Analista de Sistemas</td>
              <td>Pendiente</td>
            </tr>
            <tr>
              <td>Marco Moles</td>
              <td>9-11-2023</td>
              <td>Desarrollador Web</td>
              <td>Contratado</td>
            </tr>

            <tr>
              <td>Antonio cales</td>
              <td>11-11-2023</td>
              <td>Desarrollador Web</td>
              <td>Contratado</td>
            </tr>

            <tr>
              <td>Julio Mora</td>
              <td>7-11-2023</td>
              <td>Desarrollador Web</td>
              <td>Contratado</td>
            </tr>
            <!-- Agregar más filas según sea necesario -->
          </tbody>
        </table>
      </div>
      <!--#contenidocentral-->
    </section>

    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a
          href="../unlogged/HomePageUnlogged.html"
          id="footer_logo-buscoempleo"
          class="footer_logo"
        >
          <img src="../../images/buscoempleonegro.png" />
        </a>
        <a href="../landingpageBuscoEmpleo/producto.html">
          <p>Acerca de Busco Empleo</p>
        </a>
      </div>
      <div class="footer_first">
        <a href="../landingpageBitbyte/index.html" class="footer_logo">
          <img src="../../images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="../../js/funciones.js"></script>
    <script>
      cargarDatosEmpresa();
    </script>
  </body>
</html>
