<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Busco Empleo</title>
  </head>
  <body>
    <nav class="nav_buscoempleo nav">
      <a
        id="nav_logo-buscoempleo"
        href="/unlogged/HomePageUnlogged.html"
        class="nav_logo"
      >
        <img src="/images/buscoempleo.png" alt="" />
      </a>
    </nav>
    <section id="contenido">
      <div class="form">
        <div id="mensajeExito">
          <h2>¡Contraseña cambiada con éxito!</h2>
        </div>
        <h1>Recuperar mi contraseña</h1>
        <form
          id="form-recuperacion-correo"
          onsubmit="return validarCampoCorreo()"
        >
          <p>Ingrese su correo electrónico</p>
          <input type="text" name="email" id="email" />
          <span id="errorEmail" class="error"></span>
          <button type="submit" class="boton-registro">
            Enviar código de recuperación
          </button>
          <p id="mensajeCorreoEnviado" class="mensajeCorreoEnviado">
            Se ha enviado un correo con el código de verificación temporal.
          </p>
        </form>
        <div id="crearNuevoPassword">
          <p>Digite el código de verificación</p>
          <input
            type="text"
            name="codigoVerificacion"
            id="codigoVerificacion"
          />
          <span id="errorCodigoVerificacion" class="error"></span>
          <p>Nueva contraseña</p>
          <input type="password" name="nuevoPassword" id="nuevoPassword" />
          <span id="errorNuevoPassword" class="error"></span>
          <button
            class="boton-registro"
            onclick="return validarCamposNuevoPassword()"
          >
            Cambiar mi contraseña
          </button>
        </div>
      </div>
    </section>
    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a
          href="/unlogged/HomePageUnlogged.html"
          id="footer_logo-buscoempleo"
          class="footer_logo"
        >
          <img src="/images/buscoempleonegro.png" />
        </a>
        <a href="/landingpageBuscoEmpleo/producto.html">
          <p>Acerca de Busco Empleo</p>
        </a>
      </div>
      <div class="footer_first">
        <a href="/landingpageBitbyte/index.html" class="footer_logo">
          <img src="/images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="/js/loginCliente.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </body>
</html>
