<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="shortcut icon" href="../../images/logo_tituloPagina.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Busco Empleo</title>
  </head>
  <body>
    <nav id="nav-buscoempleo" class="nav_buscoempleo nav">
      <a
        id="nav_logo-buscoempleo"
        href="../unlogged/HomePageUnlogged.html"
        class="nav_logo"
      >
        <img src="../../images/buscoempleo.png" alt="" />
      </a>
      <div class="nav_barra-busqueda">
        <form
          id="barraBusquedaForm"
          action="../candidato/mostrarOfertasTrabajo.html"
          method="get"
          class="barra-busqueda"
          onsubmit="return validarBusquedaHomePage()"
        >
          <input
            type="text"
            placeholder="Buscar empleo..."
            name="barra-busqueda"
          />
          <button type="submit"><img src="../../images/busqueda.png" /></button>
        </form>
      </div>
      <a id="opcionNav" href="../unlogged/inicioSesion.html">Iniciar sesión</a>
    </nav>
    <section id="contenido">
      <div class="form">
        <div id="mensajeExito">
          <h2>¡Cuenta de empresa creada con éxito!</h2>
        </div>
        <h1>Crea tu cuenta de empresa</h1>
        <form
          id="form-registrar-empresa"
          method="POST"
          onsubmit="return validarFormularioEmpresa()"
        >
          <p class="ai-c">Foto de perfil de mi empresa</p>
          <div class="subir-foto">
            <img
              id="img-perfil"
              class="imgFotoPerfil"
              src="../../images/fotoPerfilDefault.jpeg"
              alt="Foto de perfil"
            />
          </div>
          <label class="ai-c" onclick="subirImagen()" for="inputFotoPerfil"
            >Subir imagen</label
          >
          <input
            type="file"
            accept="image/jpeg, image/png, image/jpg"
            name="fotoPerfil"
            id="inputFotoPerfil"
            class="ai-c"
          />
          <h2>Datos necesarios</h2>
          <p>Nombre de la empresa</p>
          <input type="text" name="nombreEmpresa" id="nombreEmpresa" />
          <span id="errorNombreEmpresa" class="error"></span>
          <p>Correo electrónico</p>
          <input type="text" name="emailEmpresa" id="emailEmpresa" />
          <span id="errorEmailEmpresa" class="error"></span>
          <p>Password</p>
          <input type="password" name="passwordEmpresa" id="passwordEmpresa" />
          <span id="errorPasswordEmpresa" class="error"></span>
          <h2>Descripción de mi empresa</h2>
          <button class="boton-registro" onclick="habilitarCampoDescripcion()">
            Agregar descripción
          </button>
          <div id="agregarDescripcion">
            <p id="tituloDescripcion">Descripción sobre mi empresa</p>
            <textarea type="text" name="contenidoDescripcion"></textarea>
          </div>
          <button id="botonCrearCuenta" type="submit">
            Crear mi cuenta de empresa
            <img src="../../images/guardar-blanco.png" />
          </button>
        </form>
      </div>
    </section>
    <footer id="footer_buscoempleo" class="footer">
      <div class="footer_first">
        <a
          href="../unlogged/HomePageUnlogged.html"
          id="footer_logo-buscoempleo"
          class="footer_logo"
        >
          <img src="../../images/buscoempleonegro.png" />
        </a>
        <a href="../landingpageBuscoEmpleo/producto.html">
          <p>Acerca de Busco Empleo</p>
        </a>
      </div>
      <div class="footer_first">
        <a href="../landingpageBitbyte/index.html" class="footer_logo">
          <img src="../../images/logo_nombre.jpg" />
        </a>
        <p>+506 2222-2222 | bitbyte@gmail.com</p>
      </div>
      <p class="footer_last">&copy; 2023 Desarrollado por BitByte Solutions</p>
    </footer>
    <script src="/js/empresaCliente.js"></script>
    <script src="/js/funciones.js"></script>
  </body>
</html>
